body {

}
.color-orange {background-color: #f8c471;}
.color-darkmint {background-color: #58D68D}
.color-lightmint {background-color: #d5f5e3;}
.color-darkblue {background-color: #34495e;}
.color-medblue {background-color: #85c1e9;}
.color-lightblue {background-color: #3498db;}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #34495e;
	color: #FFF;
	padding: 5px 20px;
	border: 0;

}

.navbar-brand {
	float: left;
	min-height: 60;
}

.container-main {
	padding: 20px;
}
.hidden {
	display: none;
}

.unhidden {
	display:;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   	max-width:1200px;
  }
}

/*.navbar-nav .mr-auto .nav-item .active a, .navbar-nav .mr-auto .nav-item .active a:focus, .navbar-nav .mr-auto .nav-item .active a:hover {
	color: #FFF;
	background-color: #85c1e9;
	}*/
.navbar-nav {
	text-align: center;
}

.nav-item {
	margin-right: 10px;
}
.navbar-nav .active, .navbar-nav .active:focus, .navbar-nav .active:hover {
	background-color: #58D68D;
	border-radius: 5px;
}
.collapse .navbar-collapse {
	padding: 5px;
}

.rotateToggle {
	transform: rotate( -180deg );            
	transition: transform 150ms ease;
}


.btn {
	margin: 5px;
}
.btn-primary {
	background-color: #34495e;
	border-color:  #34495e;
	
}

.btn-primary:hover {
	background-color: #58D68D !important;
	border-color:  #58D68D !important
}

.btn-primary:active {
	background-color: #d5f5e3 !important;
	border-color:  #d5f5e3 !important;
}


.btn-secondary:hover {
	background-color: #58D68D !important;
	border-color:  #58D68D !important;
}

.btn-secondary:active {
	background-color: #d5f5e3 !important;
	border-color:  #d5f5e3 !important;
}

.toggle-box-right {
	margin-bottom: 20px;
	color: #485056;
	padding: 5.5px 0;
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #cdd3da ;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	float:left; 
	width:66%;
}
.toggle-box-left {
	margin-bottom: 20px;
	float:left; 
	width:33%;
	background-color: #E8ECEF;
	color: #485056;
	padding: 6px 0;
	border-width: 1px;
	border-style: solid;
	border-color: #cdd3da;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.btn-custom-disabled {
	border-color: lightgray !important;
	background-color: lightgray !important;
	color: white;
}


/*.navbar-inverse .navbar-nav li a {
color: #d5f5e3;
}*/

.optical-density-box {
	color: #f5f5f5;
	font-style: bold;
	background-color: #34495e;
	border-radius: 2px;
	padding: 2px;
	line-height: 110%;
	font-size: .5em
}

.od-box-inactive {
	background-color: #d5d5d5;
	color: #f5f5f5;
}
br {
	display: block; /* makes it have a width */
	content: ""; /* clears default height */
	margin-top: 10px; /* change this to whatever height you want it */
}

.testtube {
	width: 60px;
	font-size: 1.5em;
	text-align: center;
	min-width: 40px;
	height: 225px;
	min-height: 150px;
	background: #85c1e9;
	border-style: solid;
	border-width: 3px;
	border-color: #34495e;
	-moz-border-radius: 0px 0px 30px 30px;
	-webkit-border-radius: 0px 0px 30px 30px;
	border-radius: 0px 0px 30px 30px;
	padding: 10px 2px;
}

.testtube-inactive {
	color: #d5d5d5;
	background: #f5f5f5;
	border-color: #d5d5d5;
}

.testtube-rotatedtext {
	/*position: absolute;*/
	display: inline-block;
	font-size: .75em;
	transform: rotate(-90deg);

	width: 200px;
	/*text-align: center;*/
}

.custom-checkbox {
	min-height: 1rem;
	padding-left: 0;
	margin-right: 0;
	cursor: pointer; 
}
.custom-checkbox .custom-control-indicator {
	content: "";
	display: inline-block;
	position: relative;
	width: 30px;
	height: 10px;
	background-color: #34495e;
	border-radius: 15px;
	margin-right: 10px;
	-webkit-transition: background .3s ease;
	transition: background .3s ease;
	vertical-align: middle;
	margin: 0 16px;
	box-shadow: none; 
}
.custom-checkbox .custom-control-indicator:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #f1f1f1;
	border-radius: 21px;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
	left: -2px;
	top: -4px;
	-webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
	transition: left .3s ease, background .3s ease, box-shadow .1s ease; 
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
	background-color: #58D68D;
	background-image: none;
	box-shadow: none !important; 
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
	background-color: #58D68D;
	left: 15px; 
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
	box-shadow: none !important; 
}